<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join </title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>

</head>
<body>

<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed">
        <a href="/login" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <span class="aui-center-title"></span>
        </div>
        <!--		<a class="aui-navBar-item" >-->
        <!--			客服-->
        <!--		</a>-->
    </header>
    <section class="aui-scrollView">
        <div class="aui-ver-head">
            <img src="/image//images/head.png" alt="">
        </div>
        <br><br><br>
        <div class="aui-ver-form">
            <h2>用户注册</h2>
            <div class="aui-flex">
                <div class="aui-flex-box">
                    <i class="icon icon-user"></i>
                    <input id="name1" type="text" autocomplete="off" placeholder=" 用户名" maxlength="20" name="username">
                </div>

            </div>
            <p style="color: red;font-size: 5px; text-align: right ;" id="name2"></p>
            <div class="aui-flex">
                <div class="aui-flex-box">
                    <i class="icon icon-psw"></i>
                    <input id="psw1" type="password" maxlength="20" autocomplete="off" placeholder=" 密码"
                           name="password">
                </div>
            </div>
            <p style="color: red;font-size: 5px; text-align: right ;" id="psw4"></p>
            <div class="aui-flex">
                <div class="aui-flex-box">
                    <i class="icon icon-psw"></i>
                    <input id="psw2" type="password" maxlength="20" autocomplete="off" placeholder=" 确认密码"
                           name="ch_password">
                </div>

            </div>
            <p style="color: red;font-size: 5px; text-align: right ;" id="psw3"></p>
            <div class="aui-flex">
                <div class="aui-flex-box">
                    <i class="icon icon-phone"></i>
                    <input id="phone1" type="text" maxlength="11" autocomplete="off" placeholder="手机号码" name="phone">
                </div>

            </div>
            <p style="color: red;font-size: 5px; text-align: right ;" id="phone2"></p>
            <div class="aui-flex">
                <div class="aui-flex-box">
                    <i class="icon icon-code"></i>
                    <input id="code1" type="text" maxlength="6" autocomplete="off" placeholder="验证码">
                </div>
                <div class="aui-button-code">
                    <input id="btnSendCode1" type="button" class="btn btn-default" value="获取短信验证码"
                           onClick="sendMessage1()"/>
                </div>
            </div>
            <p style="color: red;font-size: 5px; text-align: right ;" id="code2"></p>
            <div class="aui-link-hadAccout">
                <a href="/login">
                    已有帐号，点我登录
                </a>
            </div>
            <div class="aui-ver-button">
                <button onclick="register()">立即注册</button>
            </div>

            <div class="aui-cell-box">
                <label class="cell-right">
                    <input type="checkbox" value="1" name="checkbox" checked="checked">
                    <i class="cell-checkbox-icon"></i>
                    <em>同意 To Around 注册协议</em>
                </label>
            </div>

        </div>


    </section>
</section>
</body>
<script src="/bootst/js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
    var count = 30;
    var InterValObj1;
    var curCount1;
    var phone1;

    function sendMessage1() {
        curCount1 = count;
        phone1 = $.trim($('#phone1').val());
        if (!phoneReg.test(phone1)) {
            $("#phone2").html("请输入有效的手机号码")

            return false;
        }

        $.ajax({
            type: "POST",
            url: "/joinsencode",
            data: {
                "phone": phone1,
            },

            error: function () {
                alert("error");
            },
            success: function (date) {
                if (date == "senok") {
                    $("#btnSendCode1").attr("disabled", "true");
                    $("#btnSendCode1").val(+curCount1 + "秒再获取");
                    InterValObj1 = window.setInterval(SetRemainTime1, 1000);
                } else if (date == "namexx")
                    $("#phone2").html("当前手机号码已注册");

            }
        });


    }

    function SetRemainTime1() {
        if (curCount1 == 0) {
            window.clearInterval(InterValObj1);
            $("#btnSendCode1").removeAttr("disabled");
            $("#btnSendCode1").val("重新发送");
        } else {
            curCount1--;
            $("#btnSendCode1").val(+curCount1 + "秒再获取");
        }
    }


    function register() {
        var name = $("#name1").val();
        var phone = $.trim($('#phone1').val());
        var psw1 = $("#psw1").val();
        var psw2 = $("#psw2").val();
        var code1 = $("#code1").val();

        if (name == '')
            $("#name2").html("用户名不为空")
        else if (psw1 == '')
            $("#psw4").html("请输入密码")
        else if (psw1 != psw2)
            $("#psw3").html("请核对密码")
        else if (phone == '')
            $("#phone2").html("请输入有效的手机号码")

        else if (code1 == '')
            $("#code2").html("请输入验证码")
        else {
            $.ajax({
                type: "POST",
                url: "/register",
                data: {
                    "name": name,
                    "password": psw1,
                    "phone": phone,
                    "code": code1
                },

                error: function () {
                    alert("error");
                },
                success: function (date) {

                    if (date == "okway") {
                        alert("注册成功，请登录");
                        window.location.href = "/index";
                    } else if (date == "namexx")
                        $("#phone2").html("当前手机号码已注册");
                    else if (date == "codexx")
                        $("#code2").html("验证码错误");
                    else
                        alert("发生未知错误")
                }
            });

        }

    }

    $("input").click(function () {
        $("p").html("");
    })


</script>

</html>
